#popup {
  height: 100vh;
  width: 100vw;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.445);

  z-index: 100;
}

#sentence-div {
  width: 100%;

  color: white;
  background-color: rgba(0, 0, 0, 0.753);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;

  padding: 6rem 0;
}
