:root {
  --red: rgb(247, 130, 130);
  --light-red: rgb(133, 223, 245);
}

.board {
  max-width: 300px;

  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%);

  margin: 0 auto;
}

.board > * {
  min-width: 30px;
  min-height: 30px;

  background-color: rgb(179, 167, 167);
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: hsl(0, 7%, 79%);
}

.missed {
  background-color: var(--light-red);
}

.hit {
  background-color: var(--red);
}

@media (min-width: 767px) {
  .board {
    max-width: 500px;
  }

  .board > * {
    min-width: 45px;
    min-height: 45px;
  }
}
