@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap');

:root {
  --cream: rgb(241, 242, 242);
  --dark: rgb(48, 48, 50);
  --grey: rgb(41, 41, 41);
}

* {
  margin: 0;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
  height: 100vh;

  background-color: var(--grey);

  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--cream);

  font-size: 3rem;
  font-family: 'Tourney', cursive;
  text-transform: uppercase;
  text-align: center;

  margin-top: 1rem;
}

#playArea {
  margin-top: 6rem;
  min-width: 300px;
}

#restartBtn {
  max-width: 100px;
  background-color: var(--dark);
  color: var(--cream);

  margin-top: 3rem;
  padding: 0.6rem 1.5rem;
  border: 1px solid var(--cream);
}

#restartBtn:active {
  background-color: rgb(65, 65, 65);
}

@media (min-width: 1023px) {
  h1 {
    font-size: 6rem;

    margin-top: 3rem;
  }
  #restartBtn:hover {
    background-color: rgb(65, 65, 65);
  }
}
