.place-ships-board {
  max-width: 300px;

  display: grid;
  grid-template-rows: repeat(10, 10%);
  grid-template-columns: repeat(10, 10%);

  margin: 0 auto;
}

.place-ships-board > * {
  min-width: 30px;
  min-height: 30px;

  background-color: rgb(179, 167, 167);
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ship-present {
  background-color: greenyellow;
}
