#form-section {
  color: azure;

  text-align: center;

  padding: 3rem;
  border: 1px solid rgb(161, 161, 161);
}

#name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name-form > * {
  margin-top: 1rem;
}

#submitBtn {
  background-color: black;
  color: azure;

  margin-top: 3rem;
  padding: 0.6rem 1rem;
  border: 1px solid azure;
}

#submitBtn:active {
  background-color: rgb(41, 41, 41);
}

@media (min-width: 767px) {
  #form-section {
    padding: 5rem;
  }
}

@media (min-width: 1023px) {
  #form-section {
    margin-top: 3rem;
    padding: 6rem 12rem;
    padding-bottom: 4rem;
  }

  #submitBtn:hover {
    background-color: rgb(41, 41, 41);
  }
}
